MONGODB_URI=mongodb+srv://emyudofia1_db_user:AAX0UmSI3oJWygxM@cse341.zv52bv5.mongodb.net/CSE341?retryWrites=true&w=majority 
SESSION_SECRET=supersecretkey123
GITHUB_CLIENT_ID=Ov23liNl9H4eQIu9LLvL
GITHUB_CLIENT_SECRET=5512842f74208664fb3456122cb641198b954b33
GITHUB_CALLBACK_URL=http://localhost:3000/auth/callback
PORT=3000
NODE_ENV=development